* {
  font-family: "Courier New", Courier, monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -30px;
}

h1 {
  font-size: 50px;
  text-shadow: 5px 5px rgb(255, 255, 255);
}

.btns {
  cursor: pointer;
  flex-direction: row;
  width: 600px;
  height: 50px;
  justify-content: space-between;
}

button {
  width: 80px;
  font-size: 20px;
  background-color: white;
  box-shadow: 5px 5px;
  outline: none;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1.2);
}

#rgb {
  background: linear-gradient(
    to right,
    rgb(239, 190, 190),
    rgb(170, 242, 170),
    rgb(169, 169, 250)
  );
}

.sliderAndValue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-top: -42px;
}

#slider {
  -webkit-appearance: none;
  background: black;
  outline: none;
  border-radius: 40px;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 40px;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 40px;
}

.value {
  font-size: 20px;
  padding-left: 10px;
  color: black;
  text-shadow: 2px 2px white;
}
